<ion-header>
  <ion-toolbar [translucent]="true">
    <ion-title> Dive! </ion-title>

    <ion-buttons slot="start" (click)="back()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Now, you need to figure out how to pilot this thing. It seems like the
      submarine can take a series of commands like forward 1, down 2, or up 3:
      forward X increases the horizontal position by X units. down X increases
      the depth by X units. up X decreases the depth by X units. Note that since
      you're on a submarine, down and up affect your depth, and so they have the
      opposite result of what you might expect. The submarine seems to already
      have a planned course (your puzzle input). You should probably figure out
      where it's going. Calculate the horizontal position and depth you would
      have after following the planned course

      <br />
      <br />
      What do you get if you multiply your final horizontal position by your
      final depth?
      <br />
      <ion-button color="success" (click)="onClick1()"> Show </ion-button>

      <br />
      <br />
      In addition to horizontal position and depth, you'll also need to track a
      third value, aim. The commands also mean something entirely different than
      you first thought: down X increases your aim by X units. up X decreases
      your aim by X units. forward X does two things: It increases your
      horizontal position by X units. It increases your depth by your aim
      multiplied by X. What do you get if you multiply your final horizontal
      position by your final depth?
      <br />
      <ion-button color="success" (click)="onClick2()"> Show </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
