<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Advent of code 2021 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" color="success" [routerLink]="['/first']"> 1. Sonar Sweep </ion-button>

  <ion-button expand="block" color="success" [class.button-disabled]="true" [routerLink]="['/second']">
    2.
  </ion-button>

  <ion-button expand="block" color="success" [class.button-disabled]="true" [routerLink]="['/third']">
    3.
  </ion-button>
</ion-content>
